{{> welcomemenu }}

<div class="ui text container center aligned">

  <section class="ui segment">
    <p>Sign up or Log in...</p>

    <div class="ui statistics">

      <div class="statistic">
        <div class="value">{{stats.numUsers}}</div>
        <div class="label">Users</div>
      </div>

      <div class="statistic">
        <div class="value">{{stats.numCollections}}</div>
        <div class="label">Collections</div>
      </div>

      <div class="statistic">
        <div class="value">{{stats.numGames}}</div>
        <div class="label">Games</div>
      </div>

    </div>
  </section>

</div>