<!-- Navigation menu -->
{{> menu}}

<!-- Home page welcome section -->
<section class="ui center aligned middle aligned segment">
  
  <!-- App title and welcome image -->
  <h2>Video Game Completionist App</h2>
  <img src = "/gaming.jpg" class = "ui centered image">

  <!-- App description -->
  <p>
    This app will be used to create collections of games to track their completion progress and games I want to play.
  </p>
  <p>I can store my completed, in progress or wishlisted games in the dashboard.</p>

</section>
