{{> menu id="stats"}}

<section class="ui center aligned middle aligned segment">

  <h2>Completionist App Statistics</h2>

  <h3 class="ui header">
    App Statistics
  </h3>
  <p>
    The app now contains: 
  </p>
  {{#with stats}}
   <div class="ui center aligned grid">
    
    <div class = "ui sixteen wide column">
      
        <div class="ui centered three statistics">
          <div class="ui statistic">
            <div class="value">
              <i class="box icon"></i> 
            </div>
            <div class="label">
              {{displayNumCollections}} collections
            </div>
          </div>

          <div class="ui red statistic">
            <div class="value">
              <i class="game icon"></i> 
            </div>
            <div class="label">
              {{displayNumGames}} games
            </div>
          </div> 
		  
          <div class="ui blue statistic">
            <div class="value">
              <i class="balance scale icon"></i> 
            </div>
            <div class="label">
              Average games per <br> collection: {{displayAverage}}
            </div>
          </div>    
		  
        </div> 
    </div>
   </div>   
  {{/with}}
</section>
